{% extends 'restaurant/base.html' %}
{% load static %}

    {% block content %}
    <body>
        <h1> Quick&Easy Pizza</h1> <br> <br>
        <h2> Can't Wait? - We Have you Covered!:</h2> <br> 
        <p> <strong> Boston, MA </strong></p>
        <p> <strong> Hours:</strong> Open on Weekends from 10AM to 1AM</p> <br> 
        <nav>
            <li> <a href="{% url  'order' %}"> Click Here to Order! </a></li> <br> <br>
            <li> <a href="{% url 'main'%}"> Main Page </a></li>
        </nav> <br>

        <img src="{% static img_4 %}" alt="Quick&Easy" width="700" height="700">
     </body>
        
    {% endblock content %}
</html>